
		<div class="row">
			<main class="col-md-12">

				<!-- Start your code here -->

				<!-- Professional greeting -->
				<div class="bg-image">
					<div class="bg-text">
					  <h1 style="font-size:50px; color: white">About Me</h1>
					</div>
				</div>
				<!-- Intro of myself -->
				<br>
				<p style="font-size:35px; text-align: center">
					My name is Lo Pak Lun.<br> I am a student in the DAD program at Seneca College.
				</p>

				<!-- End your code here -->

			</main>
		</div>
