<div class="row">
	<main class="col-md-12">

		<!-- Start your code here -->
		<div class="bg-image">
			<div class="bg-text">
				<h1 style="font-size:50px; color: white">Welcome to my website</h1>
				<h3 style="font-size:20px; color: white">I will be demonstrating HTML5 principles.</h3>
			</div>
		</div>
		<!-- Header for the next section -->
		<br>
		<h2 style="text-align: center">About This Website</h2>
		<!-- Intro of the website -->
		<p>This site consists of 3 static views (Home, About, HTML Demo) as well as 5 routes that supply data,
			including: All Students, Students by Course, A Single Student By Student Number, All TAs, and All
			Courses. Here are the relevant links:</p>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/htmlDemo">HTML Demo</a></li>
			<li><a href="/students">All Students</a></li>
			<li><a href="/students?course=3">Students by Course</a></li>
			<li><a href="/student/2">A Single Student By Student Number</a></li>
			<li><a href="/courses">All Courses</a></li>
		</ul>

		<!-- Header for the next section -->
		<h2 style="text-align: center">About HTML5</h2>
		<!-- Introducing HTML5 -->
		<p>This site utilizes HTML5: a markup language used for structuring and presenting content on the World
			Wide Web.</p>

		<!-- End your code here -->

	</main>
</div>